In [68]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
from tqdm import tqdm

In [69]:
df = pd.read_csv('books.csv')

In [70]:
df

,title,rating,price,status,book_link,img_link
0,A Light in the Attic,Three,51.77,In stock,https://books.toscrape.com/catalogue/a-light-i...,https://books.toscrape.com/media/cache/2c/da/2...
1,Tipping the Velvet,One,53.74,In stock,https://books.toscrape.com/catalogue/tipping-t...,https://books.toscrape.com/media/cache/26/0c/2...
2,Soumission,One,50.10,In stock,https://books.toscrape.com/catalogue/soumissio...,https://books.toscrape.com/media/cache/3e/ef/3...
3,Sharp Objects,Four,47.82,In stock,https://books.toscrape.com/catalogue/sharp-obj...,https://books.toscrape.com/media/cache/32/51/3...
4,Sapiens: A Brief History of Humankind,Five,54.23,In stock,https://books.toscrape.com/catalogue/sapiens-a...,https://books.toscrape.com/media/cache/be/a5/b...
...,...,...,...,...,...,...
995,Alice in Wonderland (Alice's Adventures in Won...,One,55.53,In stock,https://books.toscrape.com/catalogue/alice-in-...,https://books.toscrape.com/media/cache/96/ee/9...
996,"Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)",Four,57.06,In stock,https://books.toscrape.com/catalogue/ajin-demi...,https://books.toscrape.com/media/cache/09/7c/0...
997,A Spy's Devotion (The Regency Spies of London #1),Five,16.97,In stock,https://books.toscrape.com/catalogue/a-spys-de...,https://books.toscrape.com/media/cache/1b/5f/1...
998,1st to Die (Women's Murder Club #1),One,53.98,In stock,https://books.toscrape.com/catalogue/1st-to-di...,https://books.toscrape.com/media/cache/2b/41/2...
999,"1,000 Places to See Before You Die",Five,26.08,In stock,https://books.toscrape.com/catalogue/1000-plac...,https://books.toscrape.com/media/cache/d7/0f/d...

### Page Scraping

In [71]:
data = []
for link in tqdm(df['book_link']):
    
    res  = requests.get(link)
    soup = BeautifulSoup(res.text, 'html.parser')
    
    book_type     = soup.find_all('a')[3].text   
    upc           = soup.find_all('td')[0].text
    price_x       = soup.find_all('td')[2].text[2:]
    price_i       = soup.find_all('td')[3].text[2:]
    tax           = soup.find_all('td')[4].text[2:]
    availability  = soup.find_all('td')[5].text
    no_of_reviews = soup.find_all('td')[6].text
    
    data.append([book_type, price_x, price_i, tax, availability, upc, no_of_reviews])

100%|██████████████████████████████████████████████████████████████████████████████| 1000/1000 [16:28<00:00,  1.01it/s]

In [75]:
df = pd.DataFrame(data, columns = ['category', 'price_exc_tax', 'price_inc_tax', 'tax', 'quantity', 'upc', 'reviews'])

In [76]:
df

,category,price_exc_tax,price_inc_tax,tax,quantity,upc,reviews
0,Poetry,51.77,51.77,0.00,In stock (22 available),a897fe39b1053632,0
1,Historical Fiction,53.74,53.74,0.00,In stock (20 available),90fa61229261140a,0
2,Fiction,50.10,50.10,0.00,In stock (20 available),6957f44c3847a760,0
3,Mystery,47.82,47.82,0.00,In stock (20 available),e00eb4fd7b871a48,0
4,History,54.23,54.23,0.00,In stock (20 available),4165285e1663650f,0
...,...,...,...,...,...,...,...
995,Classics,55.53,55.53,0.00,In stock (1 available),cd2a2a70dd5d176d,0
996,Sequential Art,57.06,57.06,0.00,In stock (1 available),bfd5e1701c862ac3,0
997,Historical Fiction,16.97,16.97,0.00,In stock (1 available),19fec36a1dfb4c16,0
998,Mystery,53.98,53.98,0.00,In stock (1 available),f684a82adc49f011,0
999,Travel,26.08,26.08,0.00,In stock (1 available),228ba5e7577e1d49,0

In [77]:
df.isnull().sum()

category         0
price_exc_tax    0
price_inc_tax    0
tax              0
quantity         0
upc              0
reviews          0
dtype: int64

In [78]:
df.to_csv('data.csv', index = False)