In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('books.csv')

In [3]:
df2 = pd.read_csv('data.csv')

In [5]:
df1.head()

,title,rating,price,status,book_link,img_link
0,A Light in the Attic,Three,51.77,In stock,https://books.toscrape.com/catalogue/a-light-i...,https://books.toscrape.com/media/cache/2c/da/2...
1,Tipping the Velvet,One,53.74,In stock,https://books.toscrape.com/catalogue/tipping-t...,https://books.toscrape.com/media/cache/26/0c/2...
2,Soumission,One,50.10,In stock,https://books.toscrape.com/catalogue/soumissio...,https://books.toscrape.com/media/cache/3e/ef/3...
3,Sharp Objects,Four,47.82,In stock,https://books.toscrape.com/catalogue/sharp-obj...,https://books.toscrape.com/media/cache/32/51/3...
4,Sapiens: A Brief History of Humankind,Five,54.23,In stock,https://books.toscrape.com/catalogue/sapiens-a...,https://books.toscrape.com/media/cache/be/a5/b...

In [13]:
df2.head()

,category,price_exc_tax,price_inc_tax,tax,quantity,upc,reviews
0,Poetry,51.77,51.77,0.0,In stock (22 available),a897fe39b1053632,0
1,Historical Fiction,53.74,53.74,0.0,In stock (20 available),90fa61229261140a,0
2,Fiction,50.10,50.10,0.0,In stock (20 available),6957f44c3847a760,0
3,Mystery,47.82,47.82,0.0,In stock (20 available),e00eb4fd7b871a48,0
4,History,54.23,54.23,0.0,In stock (20 available),4165285e1663650f,0

In [14]:
df = pd.DataFrame()

df['title']         = df1['title']
df['upc']           = df2['upc']
df['category']      = df2['category']
df['price_exc_tax'] = df2['price_exc_tax']
df['price_inc_tax'] = df2['price_inc_tax']
df['tax']           = df2['tax']
df['rating']        = df1['rating']
df['reviews']       = df2['reviews']
df['quantity']      = df2['quantity']
df['stock']         = df1['status']

df['book_link']     = df1['book_link']
df['img_link']      = df1['img_link']

In [15]:
df

,title,upc,category,price_exc_tax,price_inc_tax,tax,rating,reviews,quantity,stock,book_link,img_link
0,A Light in the Attic,a897fe39b1053632,Poetry,51.77,51.77,0.0,Three,0,In stock (22 available),In stock,https://books.toscrape.com/catalogue/a-light-i...,https://books.toscrape.com/media/cache/2c/da/2...
1,Tipping the Velvet,90fa61229261140a,Historical Fiction,53.74,53.74,0.0,One,0,In stock (20 available),In stock,https://books.toscrape.com/catalogue/tipping-t...,https://books.toscrape.com/media/cache/26/0c/2...
2,Soumission,6957f44c3847a760,Fiction,50.10,50.10,0.0,One,0,In stock (20 available),In stock,https://books.toscrape.com/catalogue/soumissio...,https://books.toscrape.com/media/cache/3e/ef/3...
3,Sharp Objects,e00eb4fd7b871a48,Mystery,47.82,47.82,0.0,Four,0,In stock (20 available),In stock,https://books.toscrape.com/catalogue/sharp-obj...,https://books.toscrape.com/media/cache/32/51/3...
4,Sapiens: A Brief History of Humankind,4165285e1663650f,History,54.23,54.23,0.0,Five,0,In stock (20 available),In stock,https://books.toscrape.com/catalogue/sapiens-a...,https://books.toscrape.com/media/cache/be/a5/b...
...,...,...,...,...,...,...,...,...,...,...,...,...
995,Alice in Wonderland (Alice's Adventures in Won...,cd2a2a70dd5d176d,Classics,55.53,55.53,0.0,One,0,In stock (1 available),In stock,https://books.toscrape.com/catalogue/alice-in-...,https://books.toscrape.com/media/cache/96/ee/9...
996,"Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)",bfd5e1701c862ac3,Sequential Art,57.06,57.06,0.0,Four,0,In stock (1 available),In stock,https://books.toscrape.com/catalogue/ajin-demi...,https://books.toscrape.com/media/cache/09/7c/0...
997,A Spy's Devotion (The Regency Spies of London #1),19fec36a1dfb4c16,Historical Fiction,16.97,16.97,0.0,Five,0,In stock (1 available),In stock,https://books.toscrape.com/catalogue/a-spys-de...,https://books.toscrape.com/media/cache/1b/5f/1...
998,1st to Die (Women's Murder Club #1),f684a82adc49f011,Mystery,53.98,53.98,0.0,One,0,In stock (1 available),In stock,https://books.toscrape.com/catalogue/1st-to-di...,https://books.toscrape.com/media/cache/2b/41/2...
999,"1,000 Places to See Before You Die",228ba5e7577e1d49,Travel,26.08,26.08,0.0,Five,0,In stock (1 available),In stock,https://books.toscrape.com/catalogue/1000-plac...,https://books.toscrape.com/media/cache/d7/0f/d...

In [17]:
df['rating'].unique()

array(['Three', 'One', 'Four', 'Five', 'Two'], dtype=object)

In [18]:
df.to_csv('final.csv', index = False)